html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: hsl(204deg, 43%, 93%);
  font-family: "Karla", sans-serif;
}

.container-main {
  display: flex;
  flex-direction: column;
  margin: 6.7rem auto;
  max-width: 21rem;
  box-shadow: none;
}

.container-join {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 1rem;
  padding: 2rem;
  opacity: 0;
  transform: translateY(-150px);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
.container-join h1 {
  color: hsl(179deg, 62%, 43%);
  font-size: 1.3rem;
  font-weight: 700;
}
.container-join h3 {
  font-size: 1rem;
  color: hsl(71deg, 73%, 54%);
  font-weight: 700;
}
.container-join p {
  line-height: 1.8rem;
  font-size: 0.9rem;
  color: hsl(218deg, 22%, 67%);
}

.container-price {
  display: flex;
  flex-direction: column;
  background-color: hsl(179deg, 62%, 43%);
  padding: 2rem;
  gap: 1rem;
}
.container-price h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}
.container-price p {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  color: white;
}
.container-price p b {
  font-size: 2rem;
  color: white;
  opacity: 1;
}
.container-price p span {
  opacity: 0.6;
}
.container-price button {
  background-color: hsl(71deg, 73%, 54%);
  border: none;
  padding: 1rem 0;
  border-radius: 0.4rem;
  color: white;
  font-size: 1.1rem;
  box-shadow: -1px 6px 27px -9px rgba(0, 0, 0, 0.22);
  transition: 0.4s ease;
  cursor: pointer;
}
.container-price button:hover {
  transform: translateY(-5px);
  transition: 0.4s ease;
}

.container-why {
  display: flex;
  flex-direction: column;
  background-color: #4abebd;
  padding: 2rem;
  gap: 1rem;
}
.container-why h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}
.container-why p {
  line-height: 1.2rem;
  color: white;
  opacity: 0.7;
  max-width: 13rem;
}

.logo-name {
  font-family: "Michroma", sans-serif;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 7px;
  text-transform: uppercase;
  max-width: auto;
}

.container-sub {
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(150px);
}

.loading-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4abebd;
  width: 100vw;
  height: 100vh;
  gap: 1rem;
}

.name-container {
  overflow: hidden;
  text-align: center;
  word-break: break-all;
  max-width: 10.9rem;
}

@-webkit-keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
#svg {
  height: 150px;
  width: 150px;
  stroke: rgb(255, 255, 255);
  fill-opacity: 0;
  stroke-width: 12px;
  stroke-dasharray: 4500;
  -webkit-animation: draw 8s ease;
          animation: draw 8s ease;
}

@media screen and (min-width: 56.25rem) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .container-main {
    max-width: 40rem;
    margin: 0;
  }
  .container-join {
    padding: 2.5rem;
  }
  .container-join h1 {
    font-size: 1.4rem;
  }
  .container-join h3 {
    font-size: 1.1rem;
  }
  .container-join p {
    font-size: 1rem;
  }
  .container-sub {
    display: flex;
    flex-direction: row;
  }
  .container-price {
    padding: 2.5rem;
  }
  .container-price h2 {
    font-size: 1.1rem;
  }
  .container-price p {
    font-size: 1rem;
    white-space: nowrap;
  }
  .container-price button {
    margin-top: 1rem;
  }
  .container-why {
    padding: 2.5rem;
  }
  .container-why h2 {
    margin-bottom: 0.8rem;
  }
  .container-why p {
    font-size: 0.9rem;
    margin-right: 3.5rem;
    line-height: 1.3rem;
  }
}/*# sourceMappingURL=style.css.map */