$bg-color: hsl(0, 100%, 74%);
$bg-btn: hsl(154, 59%, 51%);
$bg-accent: hsl(248, 32%, 49%);
$color-input-border: hsl(249, 10%, 26%);
$color-terms: hsl(246, 25%, 77%);

@mixin df {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin dfc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  height: 100vh;
  font-family: "Poppins";
  background-image: url(../images/bg-intro-mobile.png);
  background-color: $bg-color;
}

.container-main {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.container-text {
  gap: 1rem;
  @include dfc;
  margin: 0 auto;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(150px);
  h1 {
    color: white;
    font-weight: 700;
    text-align: center;
  }
  p {
    color: white;
    font-weight: 700;
    text-align: center;
    display: flex;
    font-weight: 400;
    padding: 1rem;
    margin-bottom: 3rem;
  }
}

.container-input {
  @include dfc;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(150px);
  gap: 1rem;
  margin-bottom: 4rem;
  div:first-child {
    text-align: center;
    background-color: $bg-accent;
    font-size: 0.6rem;
    padding: 1rem 4rem;
    max-width: 20rem;
    border-radius: 10px;
    box-shadow: 0px 10px 0px -2px rgba(0, 0, 0, 0.15);
    h2 {
      color: white;
      font-weight: bold;
      span {
        font-weight: 400;
        color: rgb(237, 237, 237);
      }
    }
  }
  div:nth-child(2) {
    @include dfc;
    background-color: white;
    padding: 2rem;
    max-width: 20rem;
    border-radius: 0.625rem;
    gap: 1rem;
    box-shadow: 0px 10px 0px -2px rgba(0, 0, 0, 0.15);
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    clip-path: polygon(0% 100%, 0% 100%, 0% 0%, 0% 0%);
    opacity: 0;
    transform: translateX(150px);
    gap: 1rem;
    input {
      position: relative;
      padding: 1rem 5rem 1rem 1rem;
      font-weight: 700;
      border: 0.5px solid $color-terms;
      border-radius: 5px;
      &:focus {
        border: 0.5px solid $color-terms;
        outline-color: $color-terms;
      }
    }
    button {
      font-size: 1rem;
      font-weight: 500;
      font-family: "Poppins";
      text-transform: uppercase;
      background-color: $bg-btn;
      color: white;
      box-shadow: inset 0px -8px 0px -4px rgba(0, 0, 0, 0.2);
      padding: 1rem 2.5rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background: hsl(154, 68%, 65%);
      }
    }
    p {
      display: none;
    }
  }
  p {
    max-width: 15rem;
    text-align: center;
    color: $color-terms;
    font-size: 0.7rem;
    span {
      color: $bg-color;
      font-weight: 700;
    }
  }
}

.erro {
  background: url(../images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.visible {
  display: inline-block !important;
  color: $bg-color !important;
  font-size: 1rem !important;
}

.logo-name {
  font-family: "Michroma", sans-serif;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.loading-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsl(0deg, 100%, 74%);
  width: 100vw;
  height: 100vh;

  gap: 1rem;
}

.name-container {
  overflow: hidden;
  text-align: center;
  word-break: break-all;
  max-width: 14rem;
}
@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

#svg {
  height: 150px;
  width: 150px;
  stroke: rgb(255, 255, 255);
  fill-opacity: 0;
  stroke-width: 12px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
}

@media screen and (min-width: 43.75rem) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-text {
    p {
      max-width: 45rem;
    }
  }
  .container-input {
    div:first-child {
      padding: 1.3rem 6rem;
      max-width: 35rem;
      font-size: 0.7rem;
    }
    div:nth-child(2) {
      padding: 2.7rem;
      max-width: 35rem;
    }
    form {
      input {
        padding: 1rem 16rem 1rem 1rem;
      }
      button {
        padding: 1rem 8.35rem;
      }
    }
    p {
      max-width: 35rem;
    }
  }
}

.name-container {
  font-size: 1rem;
  max-width: 27rem;
}

@media screen and (min-width: 84.375rem) {
  body {
    display: flex;
    justify-content: center;
    background-image: url(../images/bg-intro-desktop.png);
  }
  .container-main {
    flex-direction: row;
    gap: 3rem;
  }
  .container-text {
    align-items: flex-start;
    gap: 2rem;
    p {
      max-width: 33rem;
      text-align: start;
      font-size: 1rem;
      line-height: 1.7rem;
      padding: 0px;
    }
    h1 {
      font-size: 3.1rem;
      max-width: 35rem;
      text-align: start;
      line-height: 3.5rem;
    }
  }
  .container-input {
    div:first-child {
      padding: 1.1rem 7.3rem;
      max-width: 50rem;
    }
    div:nth-child(2) {
      padding: 2.5rem 4rem;
      max-width: 36rem;
    }
    form {
      input {
        padding: 1.3rem 15rem 1.3rem 2rem;
        font-size: 1rem;
      }
      button {
        padding: 1rem 9.5rem;
      }
    }
  }
}

.name-container {
  font-size: 1.2rem;
  max-width: 38rem;
}
