:root {
  --bg-card: hsl(217, 19%, 35%);
  --bg-text: hsl(214, 17%, 51%);
  --bg-body: hsl(210, 46%, 95%);
  --bg-p: hsl(212, 23%, 69%);
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

/* img {
  max-width: 100%;
  height: auto;
} */

body {
  font-family: "Manrope";
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-body);
}

.container-main {
  display: flex;
  max-width: 48rem;
  max-height: 18.75rem;
  -webkit-box-shadow: -2px 46px 61px -7px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: -2px 46px 61px -7px rgba(0, 0, 0, 0.09);
  box-shadow: -2px 46px 61px -7px rgba(0, 0, 0, 0.09);
}

.container-main > img {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
  object-position: left;
  overflow: hidden;
  border-radius: 0.625rem 0 0 0.625rem;
}

.container-info {
  background-color: white;
  padding: 2.3rem;
  border-radius: 0 0.625rem 0.625rem 0;
}

.container-info h1 {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--bg-card);
  max-width: 50rem;
  margin-bottom: 1rem;
}

.container-info h2 {
  font-size: 0.9rem;
  max-width: 30rem;
  line-height: 1.25rem;
  color: var(--bg-text);
}

.container-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.container-profile .container-info-profile img {
  max-width: 2.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.container-info h3 {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

.container-info p {
  color: var(--bg-p);
}

.container-info-profile {
  display: flex;
  align-items: center;
}

.pop-up button {
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
}

.none {
  display: none !important;
}

.pop-up {
  position: relative !important;
}

.container-share {
  position: absolute;
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 5px;
  background-color: var(--bg-card);
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  justify-content: space-evenly;
  top: -5rem;
  left: -6.5rem;
  animation: fadeIn 0.8s;
}

.container-share p {
  margin-top: 0.2rem;
  border-radius: 0 !important;
}

.detail {
  background-color: #48556a;
  position: absolute;
  top: 2.875rem;
  left: 50%;
  width: 1.25rem;
  height: 1.25rem;
  transform: rotate(45deg);
  top: 2.7rem;
  left: 6.8rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 57em) {
  .container-share {
    padding: 1rem 1.5rem;
  }
}

@media screen and (max-width: 880px) {
  .container-share {
    top: 0;
    /* padding: 1rem 8rem; */
  }
  .detail {
    display: none;
  }
  .pop-up {
    position: static;
  }
}
