$btn-color: hsl(223, 87%, 63%);
$text-color: hsl(0, 0%, 59%);
$span-color: hsl(209, 33%, 12%);

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

@mixin dff {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin dfc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin df {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-main {
  @include dff;
  margin: 2rem 0;
  gap: 1rem;
  h1 {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 2rem;
    color: $text-color;
    letter-spacing: 1px;
    span {
      color: $span-color;
      font-weight: 700;
    }
  }
  p {
    text-align: center;
    font-size: 0.9rem;
    color: $span-color;
    margin-bottom: 2rem;
  }
}

.image-logo {
  width: 4rem;
  margin: 0 auto;
}

.container-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 0 2rem;
  input {
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid $btn-color;
    opacity: 0.5;
    font-size: 0.9rem;
    &::placeholder {
      color: $btn-color;
    }
  }
  .btn {
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    background-color: $btn-color;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
  }
}

.illustration-image {
  margin: 3rem 1rem 1rem 1rem;
  width: 100%;
}

.social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.6875rem;
  a {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 50%;
    padding: 0.3rem;
    svg {
      width: 1.5rem;
      margin-top: 4px;
      fill: $btn-color;
      aspect-ratio: 3/2;
      object-fit: contain;
    }
  }
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
  color: $text-color;
}

@media screen and (min-width: 34.75rem) {
  .container-main {
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.2rem;
    }
    .image-logo {
      margin-top: 2rem;
      width: 5rem;
    }
  }
  .container-input {
    flex-direction: row;
    justify-content: center;
    input[type="email"] {
      width: 25rem;
      padding-left: 2rem;
    }
    .btn {
      padding: 1rem 3.5rem;
      font-weight: 400;
    }
  }
}

.illustration-image {
  max-width: 38rem;
  margin: 4rem auto 2rem auto;
}

.social {
  margin: 2rem 0 0 0;
}
